.icon {
    width: 12px;
    height: 12px;
}

.sku-action-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px var(--color-border);
    border-radius: 8px;
    padding: var(--space-4);
    margin-top: var(--space-6);
    background-color: var(--color-fill-base);
}

.internal-inventory-action-card {
    border: solid 1px var(--color-border);
    border-radius: 8px;
    padding: var(--space-5);
    margin-top: var(--space-6);
    background-color: var(--color-fill-base);
}

.add-sku-button {
    display: inline-flex; 
    gap: var(--space-2);
    align-items: center;
    border: solid 1px var(--color-border);
    border-radius: 8px;
    padding: var(--space-3);
    background-color: #CFEFFF;
}

.sku-table-container {
    width: 100%;
    overflow-x: auto; 
    margin-top: var(--space-4);
    border-radius: 8px;
}

/* basic table styles */
.sku-table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-family-base);
}

/* table header */
.sku-table th {
    text-align: left;
    padding: var(--space-4) var(--space-5) var(--space-4) var(--space-5) ;
    border: 1px solid var(--color-border);
    font-weight: 600;
    background-color: var(--color-fill-base);
}

/* table body */
.sku-table td {
    padding: var(--space-5);
    border: 1px solid var(--color-border);
    background-color: var(--color-fill-base);
}

/* hover effect on rows */
.sku-table tbody tr:hover td {
    background-color: var(--color-fill-light);
}

/* action buttons */
.edit-btn,
.delete-btn {
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: var(--space-2) var(--space-3);
    margin-right: var(--space-2);
    cursor: pointer;
    font-size: 14px;
}

.edit-btn {
    background-color: #CFEFFF;
    margin-right: var(--space-2);
}

.delete-btn {
    background-color: #FC5454;
    color: #fff;
}